@using TotalPortal.Configuration

@model TotalDTO.Commons.PromotionDTO

@Html.HiddenFor(model => model.PromotionID)
@Html.HiddenFor(model => model.DiscountPercent)
@Html.HiddenFor(model => model.StartDate)
@Html.HiddenFor(model => model.EndDate)
@Html.HiddenFor(model => model.ApplyToAllCustomers)
@Html.HiddenFor(model => model.ApplyToAllCommodities)
@Html.HiddenFor(model => model.Remarks)


@{var showPromotion = @Model != null && @Model.PromotionID != null && @Model.Name != null && @Model.Name != "";}

<div class="right-first-panel">
    <div class="form-group" style="margin-top:0px;">
        <div class="right-panel-label" style="padding-top: 2px;"> <img src="~/Content/Images/Mains/Sale-icon.png" title="Áp dụng chương trình khuyến mãi" />  </div>
        <div class="div-input">
            @if (showPromotion)
            {
                @Html.Kendo().MaskedTextBoxFor(model => model.Name).HtmlAttributes(new { @class = "right-panel-input", @readonly = "readonly" })
            }
            else
            {
                @Html.Kendo().MaskedTextBox().Name("Promotion.Name").Value("Áp dụng tất cả CTKM còn hiệu lực").HtmlAttributes(new { @class = "right-panel-input", @readonly = "readonly" })
            }
        </div>
        @if (showPromotion)
        {
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        }
    </div>
    @if (showPromotion)
    {
        <div class="form-group" style="margin-top:0px;">
            <div class="right-panel-label"> </div>
            <div> @Html.DisplayFor(m => m.ApplyToAllCustomers) Áp dụng tất cả khách hàng &nbsp &nbsp &nbsp &nbsp @Html.DisplayFor(m => m.ApplyToAllCommodities) Áp dụng tất cả sản phẩm</div>
        </div>
    }
</div>

@if (showPromotion)
{
    <div class="right-second-panel" style="width: 32%;">
        <div class="form-group" style="margin-top:0px;">
            <div style="float:left; padding-top: 2px;"> <img src="~/Content/Images/Mains/Sale-Discount.png" title="Tỷ lệ chiết khấu" /> </div> <div class="right-panel-label-unlimited-width">  @Html.DisplayFor(a => a.DiscountPercent)%</div>
        </div>
        <div class="form-group" style="margin-top:0px;">
            <div style="float:left; padding-top: 2px;"> <img src="~/Content/Images/New/BirthdayIcon.png" title="Thời hạn áp dụng" /> </div> <div class="right-panel-label-unlimited-width">  @Html.DisplayFor(a => a.StartDate) -> @Html.DisplayFor(a => a.EndDate) </div>
        </div>
    </div>
}