@using TotalModel.Models;
@using TotalPortal.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}


@(Html.Kendo().Grid<PendingGoodsIssue>()
    .Name("gridPendingGoodsIssues")
    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerCode).Title("Khách hàng").Width(10);
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(30);
        columns.Bound(c => c.CommodityName).Title("Mã hàng").Width(16);
        columns.Bound(c => c.Quantity).Title("SL").Format("{0:n0}").Width(5).HtmlAttributes(new { @class = "grid-number-column" });
        columns.Bound(c => c.GrossPrice).Title("Đơn giá").Format("{0:n0}").Width(8).HtmlAttributes(new { @class = "grid-number-column" });
        columns.Bound(c => c.GrossAmount).Title("Thành tiền").Format("{0:n0}").Width(8).HtmlAttributes(new { @class = "grid-number-column" });

        columns.Template(t => { }).Title("&nbsp;").ClientTemplate("<input class='IsSelected' #= IsSelected ? checked='checked':'' #  type='checkbox' />").Width(3);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label class="category-label" for="category">Lọc khách hàng hoặc mặt hàng:</label>
                <input id="filterText" class="k-textbox" style="text-align: center;" onkeyup="onFilterTextKeyUp()" />
                @Html.Kendo().DatePicker().Name("EntryDate").Value(DateTime.Today).Events(e => e.Change("reReadPendingGoodsIssues")).HtmlAttributes(new { @class = "input-class", style = "text-align: center; width:105px" })

                @(Html.Kendo().DropDownList()
                    .Name("CommodityTypeID")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { @style = "width: 125px; text-align: center; " })
                    .BindTo(new List<SelectListItem>()
                      {
                            new SelectListItem { Text = "[Tất cả]", Value = "0"},
                            new SelectListItem { Text = "Hàng hóa", Value = "2"},
                            new SelectListItem { Text = "Phí dịch vụ", Value = "6"}
                      })
                    .Events(e => e.Change("reReadPendingGoodsIssues"))
                )

            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetPendingGoodsIssues", "AccountInvoiceApi", new { area = "Accounts" }).Data(@<text>
            function(e) {

                var accountInvoiceJSON = window.parent.$("#kendoGridDetails").data("kendoGrid").dataSource.data().toJSON();
                
                return {
                    accountInvoiceID: window.parent.$("#AccountInvoiceID").val(),                       
                    goodsIssueID: 0,
                    customerID: 0,
                    commodityTypeID: $("#CommodityTypeID").val(),
                    locationID: window.parent.requireConfig.pageOptions.LocationID,                    
                    fromDate: $("#EntryDate").val(),
                    toDate: $("#EntryDate").val(),
                    goodsIssueDetailIDs : accountInvoiceJSON.map(function(elem){return elem.GoodsIssueDetailID;}).join(","),
                    isReadOnly: false
            };}

    </text>))
    .ServerOperation(false)) //If this is TRUE: Apply filter to datasource will call Ajax to get new datasource result. If this is FALSE: filter will run on client
    .Selectable()
)


<div class="background-bar" style="height: 45px;">
    <div class="popup-button-bar">
        <input id="okButton" type="button" value="OK" class="k-button" onclick="okButton_Click()" />
        <input id="cancelButton" type="button" value="Cancel" class="k-button" onclick="cancelButton_Click()" />
    </div>
</div>

<script src="@Url.Content("~/Scripts/Controllers/Accounts/AccountInvoices/AddPendingGoodsIssue.js")"></script>

<script type="text/javascript">
    function okButton_Click() {
        handleOKEvent(window.parent.$("#kendoGridDetails").data("kendoGrid").dataSource, $("#gridPendingGoodsIssues").data("kendoGrid").dataSource);
    }

    $('#gridPendingGoodsIssues').on('click', '.IsSelected', function () {
        var checked = $(this).is(':checked');
        var grid = $('#gridPendingGoodsIssues').data().kendoGrid;
        var dataItem = grid.dataItem($(this).closest('tr'));
        dataItem.set('IsSelected', checked);
    })
</script>



<script>
    function reReadPendingGoodsIssues() { $("#gridPendingGoodsIssues").data("kendoGrid").dataSource.read() }

    function onFilterTextKeyUp() {
        var filterText = $("#filterText").val(), gridDetails = $("#gridPendingGoodsIssues").data("kendoGrid");

        if (filterText && filterText.length >= "@SettingsManager.AutoCompleteMinLenght") {

            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "CustomerCode", operator: "contains", value: filterText },
                    { field: "CustomerName", operator: "contains", value: filterText },
                    { field: "CommodityCode", operator: "contains", value: filterText },
                    { field: "CommodityName", operator: "contains", value: filterText },
                    { field: "ChassisCode", operator: "contains", value: filterText },
                    { field: "EngineCode", operator: "contains", value: filterText }
                  //{ field: "IsSelected", operator: "eq", value: true }
                ]
            });


        } else {
            gridDetails.dataSource.filter({});
        }
    }
</script>

