@using TotalModel.Models;
@using TotalPortal.Configuration;

@model TotalPortal.Areas.Sales.ViewModels.DeliveryAdviceViewModel

@(Html.Kendo().Grid<Promotion>()
    .Name("gridPromotion")
    .Columns(columns =>
    {
        columns.Bound(c => c.Code).Title("Mã chương trình").Width(18);
        columns.Bound(c => c.Name).Title("Tên chương trình").Width(22);

        columns.Bound(c => c.DiscountPercent).Title("% CK").Width(9).Format("{0:n0}");
        columns.Bound(c => c.Remarks).Title("Ghi chú").Width(16);
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar">
                    @Html.EditorFor(d => d.Customer, "AutoCompletes/CustomerBase", new { CustomerDescriptionHidden = "true", CustomerDisplayName = @Model.GetDisplayName(m => m.Customer) })
                </div>
                <div class="toolbar">
                    @Html.EditorFor(d => d.Receiver, "AutoCompletes/CustomerBase", new { CustomerDescriptionHidden = "true", CustomerDisplayName = @Model.GetDisplayName(m => m.Receiver), CustomerIcon = "Customer Red 24.png" })
                </div>
            </text>);
        })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
    .Read(read => read.Action("GetPromotionByCustomers", "PromotionAPIs", new { area = "Commons" }).Data("onGetPromotionByCustomers"))
    .ServerOperation(true))
    .Selectable()
)



<script type="text/javascript">
    function onGetPromotionByCustomers(e) {
        return {
            customerID: $("#Customer_CustomerID").val()
        };
    }

    $("#Customer_CustomerID").change(function (e) {
        $("#gridPromotion").data("kendoGrid").dataSource.read();

        //if ($("#Receiver_CustomerID") == undefined) { //If using this condition, it will be set for the first time only        
        $("#Receiver_CustomerID").val($("#Customer_CustomerID").val());
        $("#Receiver_Code").val($("#Customer_Code").val());
        $("#Receiver_Name").val($("#Customer_Name").val());
        $("#Receiver_CodeAndName").val($("#Customer_TempCodeAndName").val());
        $("#Receiver_OfficialName").val($("#Customer_OfficialName").val());
        $("#Receiver_Birthday").val($("#Customer_Birthday").val());
        $("#Receiver_VATCode").val($("#Customer_VATCode").val());
        $("#Receiver_Telephone").val($("#Customer_Telephone").val());
        $("#Receiver_BillingAddress").val($("#Customer_BillingAddress").val());
        $("#Receiver_TerritoryID").val($("#Customer_TerritoryID").val());
        $("#Receiver_EntireTerritoryEntireName").val($("#Customer_EntireTerritoryEntireName").val());
        $("#Receiver_EmployeeID").val($("#Customer_EmployeeID").val());
        $("#Receiver_EmployeeName").val($("#Customer_EmployeeName").val());
        $("#Receiver_PriceCategoryID").val($("#Customer_PriceCategoryID").val());
        $("#Receiver_PriceCategoryCode").val($("#Customer_PriceCategoryCode").val());

        //Set display label
        $("#Receiver_label_Telephone").text($("#Customer_label_Telephone").val());
        $("#Receiver_label_VATCode").text($("#Customer_label_VATCode").val());
        $("#Receiver_label_BillingAddress").text($("#Customer_label_BillingAddress").val());
        $("#Receiver_label_EntireTerritoryEntireName").text($("#Customer_label_EntireTerritoryEntireName").val());
        //}
    })

    $("#gridPromotion").dblclick(function (e) {
        okButton_Click();
    })
</script>

<style>
    .form-group {
        margin-top: 0px;
    }

    .right-first-panel {
        width: 42%;
    }

    .right-second-panel-small {
        width: 16%;
        display: none; /*//Tam thoi khong hien thi, se chinh sua sau*/
    }


    .right-panel-label-icon-only {
        width: 28px;
    }

    .right-panel-label-larger-width {
        width: 84%;
    }

    .right-panel-label-double-height {
        width: 28px;
        height: 100%;
    }

    .customer-description-label {
        width: 92%;
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #customer-description-icon {
        visibility: visible;
    }
    .customerBase_AutoComplete {
        width: 93%;
    }
</style>