@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Inventories.ViewModels.GoodsIssueViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.GoodsIssueID);

    @Html.HiddenFor(model => model.DeliveryAdviceID);
    @Html.HiddenFor(model => model.DeliveryAdviceReference);
    @Html.HiddenFor(model => model.DeliveryAdviceEntryDate);
    @Html.HiddenFor(model => model.Description);
    @Html.HiddenFor(model => model.Remarks);

    @Html.HiddenFor(model => model.Customer.CustomerID);
    @Html.HiddenFor(model => model.Customer.Code);
    @Html.HiddenFor(model => model.Customer.Name);
    @Html.HiddenFor(model => model.Customer.VATCode);
    @Html.HiddenFor(model => model.Customer.Telephone);
    @Html.HiddenFor(model => model.Customer.AddressNo);
    @Html.HiddenFor(model => model.Customer.EntireTerritoryEntireName);
    @Html.HiddenFor(model => model.Customer.EmployeeID)
    @Html.HiddenFor(model => model.Customer.EmployeeName)
    
    @Html.HiddenFor(model => model.Receiver.CustomerID);
    @Html.HiddenFor(model => model.Receiver.Code);
    @Html.HiddenFor(model => model.Receiver.Name);
    @Html.HiddenFor(model => model.Receiver.VATCode);
    @Html.HiddenFor(model => model.Receiver.Telephone);
    @Html.HiddenFor(model => model.Receiver.AddressNo);
    @Html.HiddenFor(model => model.Receiver.EntireTerritoryEntireName);
    @Html.HiddenFor(model => model.Receiver.EmployeeID)
    @Html.HiddenFor(model => model.Receiver.EmployeeName)


    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 468px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Chọn phiếu đặt hàng")
                .Selected(true)
                .Content(@<text>
            @Html.Partial("~/Areas/Inventories/Views/GoodsIssues/_GetDeliveryAdvice.cshtml")
                </text>);

            tabStrip.Add().Text("Chọn nhà khách hàng")
                .Content(@<text>
                    @Html.Partial("~/Areas/Inventories/Views/GoodsIssues/_GetCustomer.cshtml")
                </text>);
        })
    )


    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", "GoodsIssues")" formtarget="_top" style="display:none" />

            <input id="okButton" type="button" value="Ok" class="k-button" onclick="okButton_Click()" />
            <input id="cancelButton" type="button" value="Cancel" class="k-button" onclick="cancelButton_Click()" />
        </div>
    </div>
}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    function okButton_Click() {
        handleOKEvent($("#tabStrip").data("kendoTabStrip").select().index());
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }


    function cancelButton_Click() {
        $("#myWindow").data("kendoWindow").close();
    }


    function handleOKEvent(tabIndex) {
        if (tabIndex === undefined)
            _setModelInput();
        else {
            var selectedGrid = $(tabIndex === 0 ? "#getDeliveryAdvicesGrid" : "#getCustomersGrid").data("kendoGrid");
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined)
                return false;

            _setModelInput(selectedDataItem);
        }
        $("#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {
            $("#DeliveryAdviceID").val(selectedDataItem === undefined || selectedDataItem.DeliveryAdviceID === undefined ? null : selectedDataItem.DeliveryAdviceID);
            $("#DeliveryAdviceReference").val(selectedDataItem === undefined || selectedDataItem.DeliveryAdviceReference === undefined ? null : selectedDataItem.DeliveryAdviceReference);
            $("#DeliveryAdviceEntryDate").val(selectedDataItem === undefined || selectedDataItem.DeliveryAdviceEntryDate === undefined ? null : kendo.toString(selectedDataItem.DeliveryAdviceEntryDate, SettingsManager.DateFormat));
            //$("#DeliveryDate").val(selectedDataItem === undefined || selectedDataItem.DeliveryAdviceDeliveryDate === undefined ? null : kendo.toString(selectedDataItem.DeliveryAdviceDeliveryDate, SettingsManager.DateFormat));
            $("#Description").val(selectedDataItem === undefined || selectedDataItem.Description === undefined ? null : selectedDataItem.Description);
            $("#Remarks").val(selectedDataItem === undefined || selectedDataItem.Remarks === undefined ? null : selectedDataItem.Remarks);

            $("#Customer_CustomerID").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerID);
            $("#Customer_Code").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerCode);
            $("#Customer_Name").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerName);
            $("#Customer_VATCode").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerVATCode);
            $("#Customer_Telephone").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerTelephone);
            $("#Customer_AddressNo").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerAddressNo);
            $("#Customer_EntireTerritoryEntireName").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerEntireTerritoryEntireName);

            $("#Customer_EmployeeID").val(99999999);
            $("#Customer_EmployeeName").val("#######");


            $("#Receiver_CustomerID").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverID);
            $("#Receiver_Code").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverCode);
            $("#Receiver_Name").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverName);
            $("#Receiver_VATCode").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverVATCode);
            $("#Receiver_Telephone").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverTelephone);
            $("#Receiver_AddressNo").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverAddressNo);
            $("#Receiver_EntireTerritoryEntireName").val(selectedDataItem === undefined ? null : selectedDataItem.ReceiverEntireTerritoryEntireName);

            $("#Receiver_EmployeeID").val(99999999);
            $("#Receiver_EmployeeName").val("#######");


        }
    }

</script>